<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Quoting Dojo</h1>
    <% if(messages.registration) { %>
        <% for (var x of messages.registration) { %>
         <h3><%= x %></h3>
        <% } %>
    <% } %>
    <form action='/newQuote' method='post'>
        Your Name: <input type='text' name='name'>
        Your Quote: <input type='text' name='quote'>
        <input type='submit' value='create quote'>
    </form>
    
</body>
</html>